$primary-color: #272822; // 编辑器背景
$accent-color: #1e1f1c;  // 其它背景
$accent2-color: #2f2333; // 分割线
$accent3-color: #495057; // 选择框背景
$text-color: #c7c7c7;    // 文字颜色

// Node type colors
$node-type-connector-color: rgb(58, 209, 209);
$node-type-event-color: rgb(209, 169, 58);
$node-type-entry-point-color: rgb(251, 255, 0);
$node-type-function-color: rgb(58, 73, 209);
$node-type-variable-color: rgb(0, 243, 81);
$node-type-condition-color: rgb(235, 0, 243);
$node-type-deployer-color: rgb(255, 81, 0);

// Parameter colors
$parameter-type-execution-color: rgb(238, 255, 0);
$parameter-type-connector-color: rgb(58, 209, 209);
$parameter-type-object-color: rgb(0, 102, 255);
$parameter-type-string-color: rgb(0, 255, 55);
$parameter-type-mapping-color: rgb(221, 113, 224);
$parameter-type-list-color: rgb(255, 123, 0);
$parameter-type-decimal-color: rgb(255, 123, 0);
$parameter-type-boolean-color: rgb(209, 39, 144);
$parameter-type-bytebb-color: rgb(170, 19, 32);